<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.EvaluateInfoMapper">

    <!-- 分页获取评价信息 -->
    <select id="selectEvaluatePage" resultType="java.util.LinkedHashMap">
        select
        ei.id,
        ei.order_code,
        ei.user_code,
        ei.images,
        ei.content,
        ei.schedule_score,
        ei.service_score,
        ei.price_score,
        ei.quality_score,
        ei.deliver_score,
        ei.over_score,
        ei.create_date,
        ui.name as userName,
        ui.phone,
        ui.images as userImages,
        oi.start_address,
        oi.end_address,
        oi.amount
        from
        evaluate_info ei
        left join user_info ui on
        (ui.code = ei.user_code)
        left join order_info oi on
        (oi.code = ei.order_code)
        where
        1 = 1
        <if test="evaluateInfo.userName != null and evaluateInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{evaluateInfo.userName},'%')
        </if>
        <if test="evaluateInfo.orderCode != null and evaluateInfo.orderCode != ''">
            AND ei.order_code LIKE CONCAT('%',#{evaluateInfo.orderCode},'%')
        </if>
        <if test="evaluateInfo.userCode != null and evaluateInfo.userCode != ''">
            AND ei.user_code = #{evaluateInfo.userCode}
        </if>
        order by
        ei.create_date desc
    </select>
</mapper>
