<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderEvaluateMapper">

    <!-- 分页获取订单评价信息 -->
    <select id="selectOrderEvaluatePage" resultType="java.util.LinkedHashMap">
        select
        oe.id,
        oe.order_id,
        oe.score,
        oe.user_id,
        oe.remark,
        oe.images,
        oe.create_date,
        oi.code as orderCode,
        oi.total,
        oi.order_name,
        ui.name as userName,
        vi.vehicle_number,
        vi.name as vehicleName,
        vi.images
        from
        order_evaluate oe
        left join order_info oi on
        (oi.id = oe.order_id)
        left join user_info ui on
        (ui.id = oi.user_id)
        left join vehicle_info vi on
        (vi.vehicle_no = oi.vehicle_no)
        where
        1 = 1
        <if test="orderEvaluate.orderName != null and orderEvaluate.orderName != ''">
            AND oi.order_name LIKE CONCAT('%',#{orderEvaluate.orderName},'%')
        </if>
        <if test="orderEvaluate.userName != null and orderEvaluate.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderEvaluate.userName},'%')
        </if>
        <if test="orderEvaluate.vehicleNumber != null and orderEvaluate.vehicleNumber != ''">
            AND vi.vehicle_number LIKE CONCAT('%',#{orderEvaluate.vehicleNumber},'%')
        </if>
        <if test="orderEvaluate.vehicleName != null and orderEvaluate.vehicleName != ''">
            AND vi.name LIKE CONCAT('%',#{orderEvaluate.vehicleName},'%')
        </if>
        <if test="orderEvaluate.userId != null and orderEvaluate.userId != ''">
            AND ui.id = #{orderEvaluate.userId}
        </if>
        order by
        oe.create_date desc
    </select>
</mapper>
