<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.PriceRulesMapper">

    <!-- 分页获取价格规则信息 -->
    <select id="selectPriceRulePage" resultType="java.util.LinkedHashMap">
        select
        pr.id,
        pr.unit_price,
        pr.code,
        pr.remark,
        pr.create_date
        from
        price_rules pr
        where
        1 = 1
        <if test="priceRules.code != null and priceRules.code != ''">
            AND pr.code LIKE CONCAT('%',#{priceRules.code},'%')
        </if>
        <if test="priceRules.remark != null and priceRules.remark != ''">
            AND pr.remark LIKE CONCAT('%',#{priceRules.remark},'%')
        </if>
        order by
        pr.create_date desc
    </select>
</mapper>
