<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ShopInfoMapper">

    <!-- 分页获取车店信息 -->
    <select id="selectShopPage" resultType="java.util.LinkedHashMap">
        select
        id,
        shop_code,
        name,
        code,
        images,
        user_id,
        create_date,
        del_flag,
        principal,
        phone
        from
        shop_info
        where
        1 = 1
        <if test="shopInfo.name != null and shopInfo.name != ''">
            AND name LIKE CONCAT('%',#{shopInfo.name},'%')
        </if>
        <if test="shopInfo.code != null and shopInfo.code != ''">
            AND code LIKE CONCAT('%',#{shopInfo.code},'%')
        </if>
        <if test="shopInfo.principal != null and shopInfo.principal != ''">
            AND principal LIKE CONCAT('%',#{shopInfo.principal},'%')
        </if>
        <if test="shopInfo.delFlag != null and shopInfo.delFlag != ''">
            AND del_flag = #{shopInfo.delFlag}
        </if>
        order by
        create_date desc
    </select>
</mapper>
