<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StaffInfoMapper">

    <!-- 分页获取员工信息 -->
    <select id="selectStaffPage" resultType="java.util.LinkedHashMap">
        select
        si.id,
        si.code,
        si.name,
        si.`type`,
        si.sex,
        si.status,
        si.images,
        si.create_date
        from
        staff_info si
        where
        1 = 1
        <if test="staffInfo.code != null and staffInfo.code != ''">
            AND si.code LIKE CONCAT('%',#{staffInfo.code},'%')
        </if>
        <if test="staffInfo.name != null and staffInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{staffInfo.name},'%')
        </if>
        <if test="staffInfo.type != null">
            AND si.`type` = #{staffInfo.name}
        </if>
        order by
        si.create_date desc
    </select>

    <!-- 根据订单编号获取搬运工，司机信息 -->
    <select id="selectStaffByOrder" resultType="java.util.LinkedHashMap">
        select
        si.code,
        si.name,
        si.images,
        '1' as type
        from
        order_distribute od
        left join staff_info si on
        (si.code = od.staff_code)
        where
        1 = 1
        and od.order_code = #{orderCode}
        union
        select
        si2.code,
        si2.name,
        si2.images,
        '2' as type
        from
        order_info oi
        left join staff_info si2 on
        (si2.code = oi.driver_code)
        where
        1 = 1
        and oi.code = #{orderCode}
    </select>
</mapper>
