<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StaffInfoMapper">

    <!-- 分页获取员工信息 -->
    <select id="selectStaffPage" resultType="java.util.LinkedHashMap">
        select
        sti.id,
        sti.code,
        sti.name,
        sti.sex,
        sti.status,
        sti.dept_id,
        sti.images,
        sti.create_date,
        sti.user_id,
        sti.pharmacy_id,
        si.name as shopName,
        si.code as shopCode,
        si.images as shopImage
        from
        staff_info sti
        left join shop_info si on
        (si.id = sti.dept_id)
        where
        1 = 1
        <if test="staffInfo.name != null and staffInfo.name != ''">
            AND sti.name LIKE CONCAT('%',#{staffInfo.name},'%')
        </if>
        <if test="staffInfo.code != null and staffInfo.code != ''">
            AND sti.code LIKE CONCAT('%',#{staffInfo.code},'%')
        </if>
        <if test="staffInfo.status != null and staffInfo.status != ''">
            AND sti.status = #{staffInfo.status}
        </if>
        order by
        sti.create_date desc
    </select>
</mapper>
