<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.VehicleInfoMapper">

    <!-- 分页获取车辆信息 -->
    <select id="selectVehiclePage" resultType="java.util.LinkedHashMap">
        select
        vi.id,
        vi.vehicle_no,
        vi.vehicle_number,
        vi.vehicle_color,
        vi.name,
        vi.engine_no,
        vi.carry_passengers,
        vi.principal,
        vi.brand,
        vi.phone,
        vi.status,
        vi.factory_date,
        vi.use_type,
        vi.emission_standard,
        vi.fuel_type,
        vi.images,
        vi.content,
        vi.create_date,
        vi.shop_id,
        si.name as shopName,
        bi.name as brandName,
        vti.name as typeName
        from
        vehicle_info vi
        LEFT JOIN shop_info si ON (si.id = vi.shop_id)
        LEFT JOIN brand_info bi ON (bi.id = vi.brand)
        LEFT JOIN vehicle_type_info vti ON (vti.id = vi.use_type)
        where
        1 = 1
        <if test="vehicleInfo.vehicleNumber != null and vehicleInfo.vehicleNumber != ''">
            AND vi.vehicle_number LIKE CONCAT('%',#{vehicleInfo.vehicleNumber},'%')
        </if>
        <if test="vehicleInfo.name != null and vehicleInfo.name != ''">
            AND vi.name LIKE CONCAT('%',#{vehicleInfo.name},'%')
        </if>
        <if test="vehicleInfo.engineNo != null and vehicleInfo.engineNo != ''">
            AND vi.engine_no LIKE CONCAT('%',#{vehicleInfo.engineNo},'%')
        </if>
        <if test="vehicleInfo.brand != null and vehicleInfo.brand != ''">
            AND vi.brand = #{vehicleInfo.brand}
        </if>
        order by
        vi.create_date desc
    </select>

    <!-- 根据车辆编号获取车辆维修记录 -->
    <select id="selectRepairByVehicle" resultType="java.util.LinkedHashMap">
        select
        ri.id,
        ri.vehicle_no,
        ri.shop_code,
        ri.reason,
        ri.price,
        ri.charge_person,
        ri.repair_start,
        ri.repair_end,
        ri.repair_shop,
        ri.shop_address,
        ri.content,
        ri.create_date,
        si.name as shopName
        from
        repair_info ri
        left join shop_info si on
        (si.code = ri.shop_code)
        where
        1 = 1
        and ri.vehicle_no = #{vehicleNo}
        order by
        ri.create_date desc
    </select>
</mapper>
